/* Background */
$unnnic-color-background-solo: #E8F4F4;
$unnnic-color-background-sky: #F4F6F8;
$unnnic-color-background-grass: #F5F6F6;
$unnnic-color-background-carpet: #F9F9F9;
$unnnic-color-background-snow: #FFFFFF;

/* Neutral */
$unnnic-color-neutral-black: #272B33;
$unnnic-color-neutral-darkest: #3B414D;
$unnnic-color-neutral-dark: #4E5666;
$unnnic-color-neutral-cloudy: #67738B;
$unnnic-color-neutral-cleanest: #9CACCC;
$unnnic-color-neutral-clean: #D0D3D9;
$unnnic-color-neutral-soft: #E2E6ED;
$unnnic-color-neutral-lightest: #F4F6F8;
$unnnic-color-neutral-light: #F9F9F9;
$unnnic-color-neutral-snow: #FFFFFF;

/* Feedback colors */
$unnnic-color-feedback-red: #FF4545;
$unnnic-color-feedback-green: #47D66F;
$unnnic-color-feedback-yellow: #FDBA38;
$unnnic-color-feedback-blue: #2856FC;
$unnnic-color-feedback-grey: #ECECEC;

/* Auxiliary colors */
$unnnic-color-aux-blue: #00DED3;
$unnnic-color-aux-purple: #8416DE;
$unnnic-color-aux-orange: #F4691F;
$unnnic-color-aux-lemon: #CCDE0B;
$unnnic-color-aux-pink: #DE16BA;

$unnnic-color-aux-baby-blue: #8EDEF5;
$unnnic-color-aux-baby-yellow: #FBF391;
$unnnic-color-aux-baby-red: #F48E8E;
$unnnic-color-aux-baby-green: #B2FCA6;
$unnnic-color-aux-baby-pink: #FFCBF6;

/* Brand */
$unnnic-color-brand-weni: #00DED2;
$unnnic-color-brand-weni-dark: #005E5A;
$unnnic-color-brand-weni-soft: #009E96;
$unnnic-color-brand-sec-dark: #262626;
$unnnic-color-brand-sec-soft: #808080;
$unnnic-color-brand-sec: #CCCCCC;

:export{
    unnnicColorBackgroundSolo: $unnnic-color-background-solo
}
