@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

// Font family
$unnic-font-family-primary: 'Slabo 13px';
$unnic-font-family-secondary: Lato;

// Font weight
$unnic-font-weight-black: 900;
$unnic-font-weight-bold: 700;
$unnic-font-weight-regular: 400;
$unnic-font-weight-black: 300;

// Font size
$unnic-font-size-body-sm: 8px;
$unnic-font-size-body-md: 12px;
$unnic-font-size-body-lg: 16px;

$unnic-font-size-title-sm: 20px;
$unnic-font-size-title-md: 24px;
$unnic-font-size-titley-lg: 32px;

$unnic-font-size-h4: 40px;
$unnic-font-size-h3: 48px;
$unnic-font-size-h2: 56px;
$unnic-font-size-h1: 72px;

// Line height
$unnic-line-height-small: 4px;
$unnic-line-height-medium: 8px;
$unnic-line-height-large: 16px;












