@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// Font family
$unnnic-font-family-primary: 'Aleo', serif;
$unnnic-font-family-secondary: Lato;

// Font weight
$unnnic-font-weight-black: 900;
$unnnic-font-weight-bold: 700;
$unnnic-font-weight-regular: 400;
$unnnic-font-weight-light: 300;

// Font size
$unnnic-font-size-body-sm: 0.5rem;
$unnnic-font-size-body-md: 0.75rem;
$unnnic-font-size-body-gt: 0.875rem;
$unnnic-font-size-body-lg: 1rem;

$unnnic-font-size-title-sm: 1.25rem;
$unnnic-font-size-title-md: 1.5rem;
$unnnic-font-size-title-lg: 2rem;

$unnnic-font-size-h4: 2.5rem;
$unnnic-font-size-h3: 3rem;
$unnnic-font-size-h2: 3.5rem;
$unnnic-font-size-h1: 4.5rem;

// Line height
// Add this to font size when using
$unnnic-line-height-small: 0.25rem;
$unnnic-line-height-medium: 0.5rem;
$unnnic-line-height-md: $unnnic-line-height-medium;
$unnnic-line-height-large: 1rem;