@use './colors' as *;
@use './deprecated/colors' as *;

// Global scheme colors mapping for all components

$unnnic-scheme-colors: 'white'$unnnic-color-white,

  'black'$unnnic-color-black,

  'gray-50'$unnnic-color-gray-50,
  'gray-100'$unnnic-color-gray-100,
  'gray-200'$unnnic-color-gray-200,
  'gray-300'$unnnic-color-gray-300,
  'gray-400'$unnnic-color-gray-400,
  'gray-500'$unnnic-color-gray-500,
  'gray-600'$unnnic-color-gray-600,
  'gray-700'$unnnic-color-gray-700,
  'gray-800'$unnnic-color-gray-800,
  'gray-900'$unnnic-color-gray-900,
  'gray-950'$unnnic-color-gray-950,

  'teal-50'$unnnic-color-teal-50,
  'teal-100'$unnnic-color-teal-100,
  'teal-200'$unnnic-color-teal-200,
  'teal-300'$unnnic-color-teal-300,
  'teal-400'$unnnic-color-teal-400,
  'teal-500'$unnnic-color-teal-500,
  'teal-600'$unnnic-color-teal-600,
  'teal-700'$unnnic-color-teal-700,
  'teal-800'$unnnic-color-teal-800,
  'teal-900'$unnnic-color-teal-900,
  'teal-950'$unnnic-color-teal-950,

  'green-50'$unnnic-color-green-50,
  'green-100'$unnnic-color-green-100,
  'green-200'$unnnic-color-green-200,
  'green-300'$unnnic-color-green-300,
  'green-400'$unnnic-color-green-400,
  'green-500'$unnnic-color-green-500,
  'green-600'$unnnic-color-green-600,
  'green-700'$unnnic-color-green-700,
  'green-800'$unnnic-color-green-800,
  'green-900'$unnnic-color-green-900,
  'green-950'$unnnic-color-green-950,

  'blue-50'$unnnic-color-blue-50,
  'blue-100'$unnnic-color-blue-100,
  'blue-200'$unnnic-color-blue-200,
  'blue-300'$unnnic-color-blue-300,
  'blue-400'$unnnic-color-blue-400,
  'blue-500'$unnnic-color-blue-500,
  'blue-600'$unnnic-color-blue-600,
  'blue-700'$unnnic-color-blue-700,
  'blue-800'$unnnic-color-blue-800,
  'blue-900'$unnnic-color-blue-900,
  'blue-950'$unnnic-color-blue-950,

  'purple-50'$unnnic-color-purple-50,
  'purple-100'$unnnic-color-purple-100,
  'purple-200'$unnnic-color-purple-200,
  'purple-300'$unnnic-color-purple-300,
  'purple-400'$unnnic-color-purple-400,
  'purple-500'$unnnic-color-purple-500,
  'purple-600'$unnnic-color-purple-600,
  'purple-700'$unnnic-color-purple-700,
  'purple-800'$unnnic-color-purple-800,
  'purple-900'$unnnic-color-purple-900,
  'purple-950'$unnnic-color-purple-950,

  'red-50'$unnnic-color-red-50,
  'red-100'$unnnic-color-red-100,
  'red-200'$unnnic-color-red-200,
  'red-300'$unnnic-color-red-300,
  'red-400'$unnnic-color-red-400,
  'red-500'$unnnic-color-red-500,
  'red-600'$unnnic-color-red-600,
  'red-700'$unnnic-color-red-700,
  'red-800'$unnnic-color-red-800,
  'red-900'$unnnic-color-red-900,
  'red-950'$unnnic-color-red-950,

  'orange-50'$unnnic-color-orange-50,
  'orange-100'$unnnic-color-orange-100,
  'orange-200'$unnnic-color-orange-200,
  'orange-300'$unnnic-color-orange-300,
  'orange-400'$unnnic-color-orange-400,
  'orange-500'$unnnic-color-orange-500,
  'orange-600'$unnnic-color-orange-600,
  'orange-700'$unnnic-color-orange-700,
  'orange-800'$unnnic-color-orange-800,
  'orange-900'$unnnic-color-orange-900,
  'orange-950'$unnnic-color-orange-950,

  'yellow-50'$unnnic-color-yellow-50,
  'yellow-100'$unnnic-color-yellow-100,
  'yellow-200'$unnnic-color-yellow-200,
  'yellow-300'$unnnic-color-yellow-300,
  'yellow-400'$unnnic-color-yellow-400,
  'yellow-500'$unnnic-color-yellow-500,
  'yellow-600'$unnnic-color-yellow-600,
  'yellow-700'$unnnic-color-yellow-700,
  'yellow-800'$unnnic-color-yellow-800,
  'yellow-900'$unnnic-color-yellow-900,
  'yellow-950'$unnnic-color-yellow-950,

  'bg-base'$unnnic-color-bg-base,
  'bg-soft'$unnnic-color-bg-soft,
  'bg-muted'$unnnic-color-bg-muted,
  'bg-active'$unnnic-color-bg-active,
  'bg-info'$unnnic-color-bg-info,
  'bg-success'$unnnic-color-bg-success,
  'bg-warning'$unnnic-color-bg-warning,
  'bg-critical'$unnnic-color-bg-critical,

  'fg-base'$unnnic-color-fg-base,
  'fg-muted'$unnnic-color-fg-muted,
  'fg-emphasized'$unnnic-color-fg-emphasized,
  'fg-inverted'$unnnic-color-fg-inverted,
  'fg-active'$unnnic-color-fg-active,
  'fg-info'$unnnic-color-fg-info,
  'fg-success'$unnnic-color-fg-success,
  'fg-warning'$unnnic-color-fg-warning,
  'fg-critical'$unnnic-color-fg-critical,

  'border-base'$unnnic-color-border-base,
  'border-soft'$unnnic-color-border-soft,
  'border-muted'$unnnic-color-border-muted,
  'border-emphasized'$unnnic-color-border-emphasized,
  'border-active'$unnnic-color-border-active,
  'border-info'$unnnic-color-border-info,
  'border-success'$unnnic-color-border-success,
  'border-warning'$unnnic-color-border-warning,
  'border-critical'$unnnic-color-border-critical,

  // Deprecated
  'background-solo'$unnnic-color-teal-50,
  'background-sky'$unnnic-color-gray-50,
  'background-grass'$unnnic-color-green-50,
  'background-carpet'$unnnic-color-gray-50,
  'background-snow'$unnnic-color-white,
  'background-lightest'$unnnic-color-gray-50,
  'background-white'$unnnic-color-white,

  'neutral-black'$unnnic-color-gray-900,
  'neutral-darkest'$unnnic-color-gray-800,
  'neutral-dark'$unnnic-color-gray-700,
  'neutral-cloudy'$unnnic-color-gray-500,
  'neutral-cleanest'$unnnic-color-gray-200,
  'neutral-clean'$unnnic-color-gray-300,
  'neutral-soft'$unnnic-color-gray-100,
  'neutral-lightest'$unnnic-color-gray-50,
  'neutral-light'$unnnic-color-gray-50,
  'neutral-white'$unnnic-color-white,
  'neutral-snow'$unnnic-color-white,

  'feedback-red'$unnnic-color-red-500,
  'feedback-green'$unnnic-color-green-500,
  'feedback-yellow'$unnnic-color-yellow-500,
  'feedback-blue'$unnnic-color-blue-500,
  'feedback-grey'$unnnic-color-gray-500,

  'aux-blue'$unnnic-color-blue-500,
  'aux-purple'$unnnic-color-purple-500,
  'aux-orange'$unnnic-color-orange-500,
  'aux-lemon'$unnnic-color-yellow-400,
  'aux-pink'$unnnic-color-red-300,
  'aux-baby-blue'$unnnic-color-blue-200,
  'aux-baby-yellow'$unnnic-color-yellow-200,
  'aux-baby-red'$unnnic-color-red-200,
  'aux-baby-green'$unnnic-color-green-200,
  'aux-baby-pink'$unnnic-color-red-100,

  'aux-green-100'$unnnic-color-green-100,
  'aux-green-300'$unnnic-color-green-300,
  'aux-green-500'$unnnic-color-green-500,
  'aux-green-700'$unnnic-color-green-700,
  'aux-green-900'$unnnic-color-green-900,
  'aux-blue-100'$unnnic-color-blue-100,
  'aux-blue-300'$unnnic-color-blue-300,
  'aux-blue-500'$unnnic-color-blue-500,
  'aux-blue-700'$unnnic-color-blue-700,
  'aux-blue-900'$unnnic-color-blue-900,
  'aux-purple-100'$unnnic-color-purple-100,
  'aux-purple-300'$unnnic-color-purple-300,
  'aux-purple-500'$unnnic-color-purple-500,
  'aux-purple-700'$unnnic-color-purple-700,
  'aux-purple-900'$unnnic-color-purple-900,
  'aux-red-100'$unnnic-color-red-100,
  'aux-red-300'$unnnic-color-red-300,
  'aux-red-500'$unnnic-color-red-500,
  'aux-red-700'$unnnic-color-red-700,
  'aux-red-900'$unnnic-color-red-900,
  'aux-orange-100'$unnnic-color-orange-100,
  'aux-orange-300'$unnnic-color-orange-300,
  'aux-orange-500'$unnnic-color-orange-500,
  'aux-orange-700'$unnnic-color-orange-700,
  'aux-orange-900'$unnnic-color-orange-900,
  'aux-yellow-100'$unnnic-color-yellow-100,
  'aux-yellow-300'$unnnic-color-yellow-300,
  'aux-yellow-500'$unnnic-color-yellow-500,
  'aux-yellow-700'$unnnic-color-yellow-700,
  'aux-yellow-900'$unnnic-color-yellow-900,

  'floweditor-blue'$unnnic-color-blue-600,
  'floweditor-purple'$unnnic-color-purple-600,
  'floweditor-wine'$unnnic-color-red-800,
  'floweditor-orange'$unnnic-color-orange-600,
  'floweditor-pink'$unnnic-color-red-400,
  'floweditor-turquoise'$unnnic-color-teal-500,
  'floweditor-green'$unnnic-color-green-600,

  'weni-50'$unnnic-color-teal-50,
  'weni-100'$unnnic-color-teal-100,
  'weni-200'$unnnic-color-teal-200,
  'weni-300'$unnnic-color-teal-300,
  'weni-400'$unnnic-color-teal-400,
  'weni-500'$unnnic-color-teal-500,
  'weni-600'$unnnic-color-teal-600,
  'weni-700'$unnnic-color-teal-700,
  'weni-800'$unnnic-color-teal-800,
  'weni-900'$unnnic-color-teal-900,
  'weni-950'$unnnic-color-teal-950,
  'brand-weni'$unnnic-color-teal-600,
  'brand-weni-dark'$unnnic-color-teal-800,
  'brand-weni-soft'$unnnic-color-teal-100,
  'brand-sec-dark'$unnnic-color-blue-800,
  'brand-sec-soft'$unnnic-color-blue-100,
  'brand-sec'$unnnic-color-blue-600,

  'teal-50'$unnnic-color-teal-50,
  'teal-100'$unnnic-color-teal-100,
  'teal-200'$unnnic-color-teal-200,
  'teal-300'$unnnic-color-teal-300,
  'teal-400'$unnnic-color-teal-400,
  'teal-500'$unnnic-color-teal-500,
  'teal-600'$unnnic-color-teal-600,
  'teal-700'$unnnic-color-teal-700,
  'teal-800'$unnnic-color-teal-800,
  'teal-900'$unnnic-color-teal-900,
  'teal-950'$unnnic-color-teal-950;

@mixin generate-scheme-classes($component-name, $property: 'background-color') {
  @each $name, $color in $unnnic-scheme-colors {
    .#{$component-name}--#{$name} {
      #{$property}: $color;
    }
  }
}

@function get-scheme-color($name) {
  @each $scheme-name, $color in $unnnic-scheme-colors {
    @if $scheme-name ==$name {
      @return $color;
    }
  }

  @warn "Scheme color '#{$name}' not found in $unnnic-scheme-colors";
  @return null;
}