@use './colors' as *;
@use './semantic-colors' as *;

a {
  color: $unnnic-color-fg-base;

  &:hover {
    color: $unnnic-color-fg-emphasized;
  }
}

.color-fg-base {
  color: $unnnic-color-fg-base;
}

.color-fg-emphasized {
  color: $unnnic-color-fg-emphasized;
}

.color-fg-muted {
  color: $unnnic-color-fg-muted;
}

.color-fg-inverted {
  color: $unnnic-color-fg-inverted;
}
