// Icon size

$unnic-icon-size-xl: 40px;
$unnic-icon-size-lg: 32px;
$unnic-icon-size-md: 24px;
$unnic-icon-size-sm: 16px;
$unnic-icon-size-xs: 12px;

// Icon size
$unnic-avatar-size-lg: 120px;
$unnic-avatar-size-md: 104px;
$unnic-avatar-size-sm: 72px;
$unnic-avatar-size-xs: 40px;
$unnic-avatar-size-nano: 20px;

// Border radius
$unnic-border-radius-none: 0px;
$unnic-border-radius-sm: 4px;
$unnic-border-radius-md: 8px;
$unnic-border-radius-lg: 16px;
$unnic-border-radius-pill: 600px;

// Border width
$unnic-border-width-none: 0px;
$unnic-border-width-thinner: 1px;
$unnic-border-width-thin: 2px;
$unnic-border-width-thick: 4px;

// Shadow levels
$unnic-shadow-level-near: 0px 4px 8px rgba(0, 0, 0, .12);
$unnic-shadow-level-separated: 0px 8px 16px rgba(0, 0, 0, .08);
$unnic-shadow-level-far: 0px 12px 32px rgba(0, 0, 0, .08);
$unnic-shadow-level-far: 0px 20px 40px rgba(0, 0, 0, .06);

// Opacity levels
$unnic-opacity-level-darkest: 0.8;
$unnic-opacity-level-dark: 0.64;
$unnic-opacity-level-clarifying: 0.48;
$unnic-opacity-level-clear: 0.32;
$unnic-opacity-level-light: 0.16;

// Spacing
$unnic-inset-nano: 8px;
$unnic-inset-xs: 12px;
$unnic-inset-sm: 16px;
$unnic-inset-md: 24px;
$unnic-inset-lg: 32px;

$unnic-squish-nano: 8px 16px;
$unnic-squish-xs: 12px 16px;
$unnic-squish-sm: 12px 24px;
$unnic-squish-md: 16px 24px;
$unnic-squish-lg: 24px 32px;

$unnic-inline-nano: 4px;
$unnic-inline-xs: 8px;
$unnic-inline-sm: 16px;
$unnic-inline-md: 24px;
$unnic-inline-lg: 32px;
$unnic-inline-xl: 40px;
$unnic-inline-giant: 48px;
$unnic-inline-xgiant: 64px;
$unnic-inline-awesome: 80px;

$unnic-spacing-stack-nano: 4px;
$unnic-spacing-stack-xs: 8px;
$unnic-spacing-stack-sm: 16px;
$unnic-spacing-stack-md: 24px;
$unnic-spacing-stack-lg: 32px;
$unnic-spacing-stack-xl: 40px;
$unnic-spacing-stack-xgiant: 64px;
$unnic-spacing-stack-awesome: 80px;