// Icon size
$unnic-icon-size-xl: 2.5rem;
$unnic-icon-size-lg: 2rem;
$unnic-icon-size-md: 1.5rem;
$unnic-icon-size-sm: 1rem;
$unnic-icon-size-xs: 0.75rem;

// Avatar size
$unnic-avatar-size-lg: 6.5rem;
$unnic-avatar-size-md: 4.5rem;
$unnic-avatar-size-sm: 2.5rem;
$unnic-avatar-size-xs: 2rem;
$unnic-avatar-size-nano: 1.25rem;

// Border radius
$unnic-border-radius-none: 0rem;
$unnic-border-radius-sm: 0.25rem;
$unnic-border-radius-md: 0.5rem;
$unnic-border-radius-lg: 1rem;
$unnic-border-radius-pill: 37.5rem;

// Border width
$unnic-border-width-none: 0rem;
$unnic-border-width-thinner: 0.0625rem;
$unnic-border-width-thin: 0.125rem;
$unnic-border-width-thick: 0.25rem;

// Shadow levels
$unnic-shadow-level-near: 0rem 0.25rem 0.5rem rgba(0, 0, 0, .12);
$unnic-shadow-level-separated: 0rem 0.5rem 1rem rgba(0, 0, 0, .08);
$unnic-shadow-level-far: 0rem 0.75rem 2rem rgba(0, 0, 0, .08);
$unnic-shadow-level-far: 0rem 1.25rem 2.5rem rgba(0, 0, 0, .06);

// Opacity levels
$unnic-opacity-level-darkest: 0.8;
$unnic-opacity-level-dark: 0.64;
$unnic-opacity-level-clarifying: 0.48;
$unnic-opacity-level-clear: 0.32;
$unnic-opacity-level-light: 0.16;

// Spacing
$unnic-inset-nano: 0.5rem;
$unnic-inset-xs: 0.75rem;
$unnic-inset-sm: 1rem;
$unnic-inset-md: 1.5rem;
$unnic-inset-lg: 2rem;

// Squish
$unnic-squish-nano: 0.5rem 1rem;
$unnic-squish-xs: 0.75rem 1rem;
$unnic-squish-sm: 0.75rem 1.5rem;
$unnic-squish-md: 1rem 1.5rem;
$unnic-squish-lg: 1.5rem 2rem;

// Inline
$unnic-inline-nano: 0.25rem;
$unnic-inline-xs: 0.5rem;
$unnic-inline-ant: 0.75rem;
$unnic-inline-sm: 1rem;
$unnic-inline-md: 1.5rem;
$unnic-inline-lg: 2rem;
$unnic-inline-xl: 2.5rem;
$unnic-inline-giant: 3rem;
$unnic-inline-xgiant: 4rem;
$unnic-inline-awesome: 5rem;

// Stack
$unnic-spacing-stack-nano: 0.25rem;
$unnic-spacing-stack-xs: 0.5rem;
$unnic-spacing-stack-sm: 1rem;
$unnic-spacing-stack-md: 1.5rem;
$unnic-spacing-stack-lg: 2rem;
$unnic-spacing-stack-xl: 2.5rem;
$unnic-spacing-stack-giant: 3rem;
$unnic-spacing-stack-xgiant: 4rem;
$unnic-spacing-stack-awesome: 5rem;
