// Icon size
$unnnic-icon-size-xl: 2.5rem;
$unnnic-icon-size-lg: 2rem;
$unnnic-icon-size-md: 1.5rem;
$unnnic-icon-size-ant: 1.25rem;
$unnnic-icon-size-sm: 1rem;
$unnnic-icon-size-xs: 0.75rem;

// Avatar size
$unnnic-avatar-size-lg: 104px;
$unnnic-avatar-size-md: 72px;
$unnnic-avatar-size-sm: 40px;
$unnnic-avatar-size-xs: 32px;
$unnnic-avatar-size-nano: 20px;

// Border radius
$unnnic-border-radius-none: 0rem;
$unnnic-border-radius-sm: 0.25rem;
$unnnic-border-radius-md: 0.5rem;
$unnnic-border-radius-lg: 1rem;
$unnnic-border-radius-pill: 37.5rem;

// Border width
$unnnic-border-width-none: 0rem;
$unnnic-border-width-thinner: 0.0625rem;
$unnnic-border-width-thin: 0.125rem;
$unnnic-border-width-thick: 0.25rem;

// Shadow levels
$unnnic-shadow-level-near: 0rem 0.25rem 8px rgba(0, 0, 0, .12);
$unnnic-shadow-level-separated: 0px 8px 16px rgba(0, 0, 0, .08);
$unnnic-shadow-level-far: 0px 12px 32px rgba(0, 0, 0, .08);
$unnnic-shadow-level-distant: 0px 20px 40px rgba(0, 0, 0, .06);

// Opacity levels
$unnnic-opacity-level-darkest: 0.8;
$unnnic-opacity-level-dark: 0.64;
$unnnic-opacity-level-clarifying: 0.48;
$unnnic-opacity-level-clear: 0.32;
$unnnic-opacity-level-light: 0.16;
$unnnic-opacity-level-lighter: 0.08;

// Spacing
$unnnic-inset-nano: 0.5rem;
$unnnic-inset-xs: 0.75rem;
$unnnic-inset-sm: 1rem;
$unnnic-inset-md: 1.5rem;
$unnnic-inset-lg: 2rem;

// Squish
$unnnic-squish-nano: 0.5rem 1rem;
$unnnic-squish-xs: 0.75rem 1rem;
$unnnic-squish-sm: 0.75rem 1.5rem;
$unnnic-squish-md: 1rem 1.5rem;
$unnnic-squish-lg: 1.5rem 2rem;

// Inline
$unnnic-inline-nano: 0.25rem;
$unnnic-inline-xs: 0.5rem;
$unnnic-inline-ant: 0.75rem;
$unnnic-inline-sm: 1rem;
$unnnic-inline-md: 1.5rem;
$unnnic-inline-lg: 2rem;
$unnnic-inline-xl: 2.5rem;
$unnnic-inline-giant: 3rem;
$unnnic-inline-xgiant: 4rem;
$unnnic-inline-awesome: 5rem;

// Stack
$unnnic-spacing-stack-nano: 0.25rem;
$unnnic-spacing-stack-xs: 0.5rem;
$unnnic-spacing-stack-sm: 1rem;
$unnnic-spacing-stack-md: 1.5rem;
$unnnic-spacing-stack-lg: 2rem;
$unnnic-spacing-stack-xl: 2.5rem;
$unnnic-spacing-stack-giant: 3rem;
$unnnic-spacing-stack-xgiant: 4rem;
$unnnic-spacing-stack-awesome: 5rem;
