// Icon size
$unnnic-icon-size-xl: 2.5rem;
$unnnic-icon-size-lg: 2rem;
$unnnic-icon-size-md: 1.5rem;
$unnnic-icon-size-ant: 1.25rem;
$unnnic-icon-size-sm: 1rem;
$unnnic-icon-size-xs: 0.75rem;

// Avatar size
$unnnic-avatar-size-lg: 6.5rem;
$unnnic-avatar-size-md: 4.5rem;
$unnnic-avatar-size-sm: 2.5rem;
$unnnic-avatar-size-xs: 2rem;
$unnnic-avatar-size-nano: 1.25rem;

// Border radius
$unnnic-border-radius-sm: 0.25rem;
$unnnic-border-radius-md: 0.5rem;
$unnnic-border-radius-lg: 1rem;
$unnnic-border-radius-pill: 37.5rem;

// Border width
$unnnic-border-width-thinner: 0.0625rem;
$unnnic-border-width-thin: 0.125rem;
$unnnic-border-width-thick: 0.25rem;

// Shadow levels
$unnnic-shadow-level-near: 0rem 0.25rem 8px rgba(0, 0, 0, 0.12);
$unnnic-shadow-level-separated: 0px 8px 16px rgba(0, 0, 0, 0.08);
$unnnic-shadow-level-far: 0px 12px 32px rgba(0, 0, 0, 0.04);
$unnnic-shadow-level-distant: 0px 20px 40px rgba(0, 0, 0, 0.06);

// Opacity levels
$unnnic-opacity-level-darkest: 0.8;
$unnnic-opacity-level-dark: 0.64;
$unnnic-opacity-level-clarifying: 0.48;
$unnnic-opacity-level-overlay: 0.4;
$unnnic-opacity-level-clear: 0.32;
$unnnic-opacity-level-light: 0.16;
$unnnic-opacity-level-extra-light: 0.08;

// Spacing
$unnnic-inset-nano: 0.5rem;
$unnnic-inset-xs: 0.75rem;
$unnnic-inset-sm: 1rem;
$unnnic-inset-md: 1.5rem;
$unnnic-inset-lg: 2rem;
$unnnic-spacing-inset-nano: $unnnic-inset-nano;
$unnnic-spacing-inset-xs: $unnnic-inset-xs;
$unnnic-spacing-inset-sm: $unnnic-inset-sm;
$unnnic-spacing-inset-md: $unnnic-inset-md;
$unnnic-spacing-inset-lg: $unnnic-inset-lg;

// Squish
$unnnic-squish-nano: 0.5rem 1rem;
$unnnic-squish-xs: 0.75rem 1rem;
$unnnic-squish-sm: 0.75rem 1.5rem;
$unnnic-squish-md: 1rem 1.5rem;
$unnnic-squish-lg: 1.5rem 2rem;

// Inline
$unnnic-inline-nano: 0.25rem;
$unnnic-inline-xs: 0.5rem;
$unnnic-inline-ant: 0.75rem;
$unnnic-inline-sm: 1rem;
$unnnic-inline-md: 1.5rem;
$unnnic-inline-lg: 2rem;
$unnnic-inline-xl: 2.5rem;
$unnnic-inline-giant: 3rem;
$unnnic-inline-xgiant: 4rem;
$unnnic-inline-awesome: 5rem;
$unnnic-spacing-inline-nano: $unnnic-inline-nano;
$unnnic-spacing-inline-xs: $unnnic-inline-xs;
$unnnic-spacing-inline-ant: $unnnic-inline-ant;
$unnnic-spacing-inline-sm: $unnnic-inline-sm;
$unnnic-spacing-inline-md: $unnnic-inline-md;
$unnnic-spacing-inline-lg: $unnnic-inline-lg;
$unnnic-spacing-inline-xl: $unnnic-inline-xl;
$unnnic-spacing-inline-giant: $unnnic-inline-giant;
$unnnic-spacing-inline-xgiant: $unnnic-inline-xgiant;
$unnnic-spacing-inline-awesome: $unnnic-inline-awesome;

// Stack
$unnnic-spacing-stack-nano: 0.25rem;
$unnnic-spacing-stack-xs: 0.5rem;
$unnnic-spacing-stack-sm: 1rem;
$unnnic-spacing-stack-md: 1.5rem;
$unnnic-spacing-stack-lg: 2rem;
$unnnic-spacing-stack-xl: 2.5rem;
$unnnic-spacing-stack-giant: 3rem;
$unnnic-spacing-stack-xgiant: 4rem;
$unnnic-spacing-stack-awesome: 5rem;
