@mixin unnnic-text-display-1 {
  font-family: Lato; font-size: 1.5 * 16px; font-weight: 700; line-height: 2 * 16px /* 32px */;
}
@mixin unnnic-text-display-2 {
  font-family: Lato; font-size: 1.25 * 16px; font-weight: 700; line-height: 1.6875 * 16px /* 27px */;
}
@mixin unnnic-text-display-3 {
  font-family: Lato; font-size: 1 * 16px; font-weight: 700; line-height: 1.375 * 16px /* 22px */;
}
@mixin unnnic-text-display-4 {
  font-family: Lato; font-size: 1 * 16px; font-weight: 400; line-height: 1.375 * 16px /* 22px */;
}
@mixin unnnic-text-body {
  font-family: Lato; font-size: 0.875 * 16px; font-weight: 400; line-height: 1.3125 * 16px /* 21px */;
}
@mixin unnnic-text-emphasis {
  font-family: Lato; font-size: 0.875 * 16px; font-weight: 500; line-height: 1.3125 * 16px /* 21px */;
}
@mixin unnnic-text-action {
  font-family: Lato; font-size: 0.875 * 16px; font-weight: 700; line-height: 1.3125 * 16px /* 21px */;
}
@mixin unnnic-text-caption-1 {
  font-family: Lato; font-size: 0.75 * 16px; font-weight: 500; line-height: 1.125 * 16px /* 18px */;
}
@mixin unnnic-text-caption-2 {
  font-family: Lato; font-size: 0.75 * 16px; font-weight: 400; line-height: 1.125 * 16px /* 18px */;
}
