@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wn109e');
  src:  url('fonts/icomoon.eot?wn109e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wn109e') format('truetype'),
    url('fonts/icomoon.woff?wn109e') format('woff'),
    url('fonts/icomoon.svg?wn109e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm-bell-2:before {
  content: "\e900";
}
.icon-alarm-bell-3:before {
  content: "\e901";
}
.icon-alert-circle-1-1:before {
  content: "\e902";
}
.icon-alert-circle-1:before {
  content: "\e903";
}
.icon-arrow-button-down-1:before {
  content: "\e904";
}
.icon-arrow-button-up-1:before {
  content: "\e905";
}
.icon-arrow-left-1-1:before {
  content: "\e906";
}
.icon-arrow-right-1-1:before {
  content: "\e907";
}
.icon-Brazil .path1:before {
  content: "\e908";
  color: rgb(43, 159, 90);
}
.icon-Brazil .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 208, 24);
}
.icon-Brazil .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(65, 71, 155);
}
.icon-Brazil .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(245, 248, 251);
}
.icon-Brazil .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(245, 248, 251);
}
.icon-Brazil .path6:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(245, 248, 251);
}
.icon-Brazil .path7:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(245, 248, 251);
}
.icon-chat-translate-1:before {
  content: "\e90f";
}
.icon-check-circle-1-1-1:before {
  content: "\e910";
}
.icon-check-circle-1-1:before {
  content: "\e911";
}
.icon-close-1:before {
  content: "\e912";
}
.icon-delete-1:before {
  content: "\e913";
}
.icon-developer-community-github-1-1:before {
  content: "\e914";
}
.icon-email-action-unread-1:before {
  content: "\e915";
}
.icon-expand-8-1:before {
  content: "\e916";
}
.icon-expand-full-1:before {
  content: "\e917";
}
.icon-gauge-dashboard-1:before {
  content: "\e918";
}
.icon-gauge-dashboard-2:before {
  content: "\e919";
}
.icon-graph-stats-1:before {
  content: "\e91a";
}
.icon-graph-stats-ascend-2:before {
  content: "\e91b";
}
.icon-headphones-customer-support-1:before {
  content: "\e91c";
}
.icon-headphones-customer-support-2:before {
  content: "\e91d";
}
.icon-hierarchy-3-2:before {
  content: "\e91e";
}
.icon-hierarchy-3-3:before {
  content: "\e91f";
}
.icon-house-1-1:before {
  content: "\e920";
}
.icon-house-2-2:before {
  content: "\e921";
}
.icon-information-circle-4:before {
  content: "\e922";
}
.icon-loading-circle-1:before {
  content: "\e923";
}
.icon-lock-2-1:before {
  content: "\e924";
}
.icon-logout-1-1:before {
  content: "\e925";
}
.icon-messages-bubble-1:before {
  content: "\e926";
}
.icon-messaging-we-chat-2:before {
  content: "\e927";
}
.icon-messaging-we-chat-3:before {
  content: "\e928";
}
.icon-read-email-at-1:before {
  content: "\e929";
}
.icon-science-fiction-robot-1:before {
  content: "\e92a";
}
.icon-science-fiction-robot-2:before {
  content: "\e92b";
}
.icon-search-1:before {
  content: "\e92c";
}
.icon-single-neutral-2:before {
  content: "\e92d";
}
.icon-single-neutral-actions-1:before {
  content: "\e92e";
}
.icon-social-media-google-1 .path1:before {
  content: "\e92f";
  color: rgb(235, 67, 53);
}
.icon-social-media-google-1 .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.icon-social-media-google-1 .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-social-media-google-1 .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-task-list-clock-1:before {
  content: "\e933";
}
.icon-team-meeting-1:before {
  content: "\e934";
}
.icon-USA .path1:before {
  content: "\e935";
  color: rgb(238, 243, 248);
}
.icon-USA .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(65, 71, 155);
}
.icon-USA .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(220, 37, 28);
}
.icon-USA .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(220, 37, 28);
}
.icon-USA .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(220, 37, 28);
}
.icon-USA .path6:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(220, 37, 28);
}
.icon-USA .path7:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(220, 37, 28);
}
.icon-USA .path8:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(220, 37, 28);
}
.icon-USA .path9:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path10:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path11:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path12:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path13:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path14:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path15:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path16:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path17:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path18:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path19:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path20:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path21:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path22:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path23:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path24:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path25:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-USA .path26:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(197, 208, 236);
}
.icon-view-1-1:before {
  content: "\e94f";
}
.icon-view-off-1:before {
  content: "\e950";
}
.icon-vip-crown-queen-2:before {
  content: "\e951";
}
