name: Build unnnic in Shared (Push Tag)

on:
  push:
    tags:
      - '*.*.*-develop.*'
      - '*.*.*-staging.*'

jobs:
  docker:
    runs-on: ubuntu-latest 
    steps:
      - name: Set variables
        run: |
            TAG="$( echo "${GITHUB_REF}" | cut -d'/' -f3 )"
            if grep -qs -e '^.*.*-develop' <<< "${TAG}" ; then
              echo "Found environment: DEVELOP - ${TAG}"
              echo "MANIFESTS_ENVIRONMENT=develop" | tee -a "${GITHUB_ENV}"
            elif grep -qs -e '^.*.*-staging' <<< "${TAG}" ; then
              echo "Found environment: STAGING - ${TAG}"
              echo "MANIFESTS_ENVIRONMENT=staging" | tee -a "${GITHUB_ENV}"
            elif grep -qs -e '^.*.*' <<< "${TAG}" ; then
              echo "No environment found, assuming: PRODUCTION - ${TAG}"
              echo "MANIFESTS_ENVIRONMENT=production" | tee -a "${GITHUB_ENV}"
            else
              echo 'Not a valid tag. Skipping...'
              exit 1
            fi
            echo "TAG=$TAG" | tee -a "${GITHUB_ENV}"
            VERSION="${TAG}"
            echo "VERSION=${VERSION}" | tee -a "${GITHUB_ENV}"
            echo "COMMIT_SHA=$GITHUB_SHA" | tee -a "${GITHUB_ENV}"
            echo "IMAGE_TAG=${{ secrets.ECR }}/unnnic:$TAG" | tee -a "${GITHUB_ENV}"
            echo "IMAGE_SOURCE_URL=https://github.com/Ilhasoft/unnnic" | tee -a "${GITHUB_ENV}"
            echo "MANIFESTS_REPOSITORY=Ilhasoft/kubernetes-manifests" | tee -a "${GITHUB_ENV}"
            echo "MANIFESTS_APPLICATION=unnnic" | tee -a "${GITHUB_ENV}"
            echo "MANIFESTS_PATCH_TARGET=deployment.json" | tee -a "${GITHUB_ENV}"
            
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          ref: "${{env.GITHUB_SHA}}"         

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to ECR
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.ECR }}
          username: ${{ secrets.AWS_ACCESS_KEY_ID_SHARED }}      
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY_SHARED }}

      - name: Build and push - unnnic Image
        uses: docker/build-push-action@v3
        with:
          context: .
          labels: |
            tag=${{env.TAG}}
            commit=${{env.COMMIT_SHA}}
            repository=${{env.IMAGE_SOURCE_URL}}
          file: Dockerfile
          push: true
          tags: "${{env.IMAGE_TAG}}"
          no-cache: true

      - name: Check out Kubernetes Manifests
        uses: actions/checkout@v3
        with:
          ref: main
          repository: "${{ env.MANIFESTS_REPOSITORY }}"
          token: "${{ secrets.DEVOPS_GITHUB_PERMANENT_TOKEN }}"
          path: ./kubernetes-manifests/

      - name: Kustomize
        uses: syntaqx/setup-kustomize@v1

      - name: "Update Deployment Image Tag" 
        working-directory: "${{ env.MANIFESTS_APPLICATION }}/${MANIFESTS_ENVIRONMENT}"
        run: |
          kustomize edit set image unnnic-image=${{env.IMAGE_TAG}}

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: "${{ secrets.DEVOPS_GITHUB_PERMANENT_TOKEN }}"
          repository: "${{ env.MANIFESTS_REPOSITORY }}"
          directory: ./kubernetes-manifests/
          branch: main
          message: "From unnnic Build (Push Tag ${{ env.MANIFESTS_ENVIRONMENT }})"
          
