name: CI
on: push
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Install Dependencies
        run: |
          npm install -g yarn
          yarn install
      - name: Run Lint
        run: yarn lint --fix --quiet
      - name: Run tests and coverage
        run: yarn coverage
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Build Bundle
        run: yarn build
