name: Publish Package to npmjs

on:
  push:
    branches:
      - "main"
    paths:
      - "package.json"

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          scope: "@weni"
      - name: Install Dependencies
        run: npm install
      - name: Run Lint
        run: npm run lint --fix --quiet
      - name: Build Bundle
        run: npm run build
      - name: Configure Git identity
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Actions Bot"
      - name: Create Package Version Tag
        run: |
          VERSION=$(jq -r '.version' < package.json)
          git tag "v$VERSION"
          git push --tags
      - name: Publish Package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
